{% extends 'base_layout.html' %}
{% load i18n %}

{% block content %}
<div class="ui text container">
<div class="ui icon message">
  <i class="trash icon"></i>
  <div class="content">
    <div class="header">
      {% trans 'Delete Appointment' %}
    </div>
    <form class="ui form" method="post">{% csrf_token %}
        <p>{% blocktrans %}Are you sure you want to delete {{ object }}?{% endblocktrans %}</p>
        <input type="submit" class="ui large right floated red button" value="{% trans 'Confirm' %}">
    </form>
  </div>
</div>

</div>
{% endblock %}
