{% extends 'base_layout.html' %}
{% load i18n %}

{% block content %}
<a class="ui labeled icon button primary" href="{% url 'rooms:appointment-new' %}">
    <i class="plus icon"></i>{% trans 'create new appointment' %}</a>
<table class="ui very basic striped table">
    <thead>
        <tr>
            <th>{% trans 'id' %}</th>
            <th>{% trans 'staff member' %}</th>
            <th>{% trans 'name' %}</th>
            <th>{% trans 'description' %}</th>
            <th colspan=2>{% trans 'actions' %}</th>
        </tr>
    </thead>
{% for a in page_obj %}
    <tr>
        <td><a href="{% url 'rooms:appointment-detail' a.id %}">{{a.id}}</a></td>
        <td>
            {% if a.staffmember %}
            <a href="{% url 'rooms:staff-detail' a.staffmember_id %}">{{ a.staffmember }}</a>
            {% endif %}
        </td>
        <td><a href="{% url 'rooms:appointment-detail' a.id %}">{{ a.name }}</a></td>
        <td>{{ a.short_description }}</td>
        <td>
            <a class="ui labeled icon button" target="_blank" href="{% url 'rooms:appointment-print' a.id %}">
                <i class="print icon"></i>{% trans 'print' %}</a>
            <a class="ui small red icon button" title="{% trans 'delete' %}" href="{% url 'rooms:appointment-delete' a.id %}">
                <i class="trash icon"></i></a>
        </td>
    </tr>
{% empty %}
    <tr><td colspan="6">
        {% trans 'No appointments yet.' %} <a class="ui labeled icon button primary" href="{% url 'rooms:appointment-new' %}"><i class="plus icon"></i>{% trans 'create one' %}</a></td></tr>
{% endfor %}
</table>
<div class="ui pagination menu">
    {% if page_obj.has_previous %}
        {% if page_obj.previous_page_number > 1 %}
        <a href="?page=1" class="item">1</a>
        <a class="item disabled">&hellip;</a>
        {% endif %}
        <a href="?page={{ page_obj.previous_page_number }}" class="item">{{ page_obj.previous_page_number }}</a>
    {% endif %}
    <a class="item active">{{ page_obj.number }}</a>
    {% if page_obj.number < page_obj.paginator.num_pages %}

    {% endif %}

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="item">{{ page_obj.next_page_number }}</a>
        {% if page_obj.paginator.num_pages != page_obj.next_page_number %}
        <a class="item disabled">&hellip;</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="item">{{ page_obj.paginator.num_pages }}</a>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
