{% extends 'print_layout.html' %}
{% load i18n %}

{% block content %}
<h1>{{ appointment.name }}</h1>

<p>{{ appointment.staffmember.name }}</p>

<p>{{ appointment.description }}</p>

{% if appointment.end_time %}
<p>from {{ appointment.start_time }}</p>
{% endif %}

{% if appointment.end_time %}
	<p>till {{ appointment.end_time}}</p>
{% endif %}

<p>Link to videocall: {{ jitsi_base_url }}{{ appointment.room_name }}</p>

<p>Please type this link into your browser 5 minutes before your appointment starts.</p>
{% endblock %}
