{% extends 'base_layout.html' %}
{% load i18n %}

{% block content %}
{% if latest_staff_members_list %}
    <table class="ui very basic striped table">
    	<thead>
    		<tr>
    			<th>{% trans 'id' %}</th>
    			<th>{% trans 'name' %}</th>
    			<th>{% trans 'email' %}</th>
                <th>{% trans 'phone' %}</th>
    			<th>{% trans 'appointments' %}</th>
    		</tr>
    	</thead>
    {% for staffmember in latest_staff_members_list %}
        <tr>
        	<td><a href="{% url 'rooms:staff-detail' staffmember.id %}">{{staffmember.id}}</a></td>
        	<td><a href="{% url 'rooms:staff-detail' staffmember.id %}">{{ staff_member.name }}</a></td>
        	<td>{{ staffmember.email }}</td>
            <td>{{ staffmember.phone }}</td>
        	<td>{{ staffmember.appointment__count }} 
                <a class="ui labeled icon button"  target="_blank" href="{% url 'rooms:staff-print' staffmember.id %}"><i class="print icon"></i>print</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'rooms:staff-new' %}" class="ui labeled icon button primary"><i class="plus icon"></i>add new staff member</a>
{% else %}
    <p>No staff members yet. <a href="{% url 'rooms:staff-new' %}" class="ui labeled icon button primary"><i class="plus icon"></i>create one</a></p>
{% endif %}
{% endblock %}
