{% extends 'base_layout.html' %}
{% load i18n %}

{% block content %}
<div class="ui text container">
    <div class="ui raised segments">
    <h1 class="ui top attached header">{{ title }}</h1>
    {% if error_message %}
    <div class="ui attached segment">
    <p><strong>{{ error_message }}</strong></p>
    </div>
    {% endif %}

    <form method="post" class="ui form">{% csrf_token %}
        <div class="ui attached segment">
        <div class="field">
            <label>{{ form.name.label }}</label>
            <div class="ui input">{{ form.name }}</div>
        </div>
        <div class="field">
            <label>{{ form.email.label }}</label>
            <div class="ui input">{{ form.email }}</div>
        </div>
        <div class="field">
            <label>{{ form.phone.label }}</label>
            <div class="ui left action input">
            {{ form.phone }}
            </div>
        </div>
        </div>
        <div class="ui bottom attached clearing segment">
        <input type="submit" value="{% trans 'save staff member' %}" class="ui large right floated button primary">
        </div>
    </form>
    </div>
</div>
{% endblock %}
