{% load compress %}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    {% compress css %}
    <link type="text/less" rel="stylesheet" href="/static/less/styles.less" charset="utf-8">
    <style type="text/less">
    @font-size: 11pt;

    body {
      font-size: @font-size;
    }
    </style>
    {% endcompress %}
  </head>
  <body>
    <section id=nav class="ui stackable container menu">
      <div class="item">COVID Videoplattform</div>
      <a class="item" href="/">MenuItem</a>
    </section>
    <h1 class="ui center aligned header"><a href="/">Title</a></h1>
    <section id="main" class="ui container">
        {% block content %}
        {% endblock %}
    </section>

    <section id="footer" class="ui inverted vertical footer segment">
      <ul>
        <li><a href="/">FooterMenuItem</a></li>
      </ul>

      </section>
    </body>
</html>
